@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: linear-gradient(to bottom, #1a1a1a, #2d2d2d);
  color: #f5f5f5;
}
